<aside>
  <h4><span class="label error"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12" y2="17"></line></svg></span> Danger - Insecure Login Risk</h4>

  <p>Passwords sent over an unencrypted connection should be considered compromised because they are transmitted in plain text. Always use a different password for each website. Doing so will limit a data breach to the compromised website or service.</p>

  <blockquote>
  "Serving login forms over HTTP is especially dangerous because of the wide variety of attacks that can be used against them to extract a user’s password. Network eavesdroppers could steal a user's password by sniffing the network, or by modifying the served page in transit. Attackers are getting smarter; they steal username/password pairs from one site, and then try reusing them on more lucrative sites."
    <div class="text-right">
      &mdash; <a href="https://developer.mozilla.org/en-US/docs/Web/Security/Insecure_passwords">Mozilla Contributors</a>
    </div>
  </blockquote>
</aside>
