<aside>
  <h4><span class="label warning"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12" y2="17"></line></svg></span> Caution - Personal Data Risk</h4>

  <p>Personal data sent or received via an unencrypted connection is vulnerable in transit, and can easily be stolen or tampered with. If you would not be comfortable speaking it out loud in a public place, you should not send it over an insecure connection.</p>

  <p>Stop and think before you type. Every character you type into a form can be transmitted instantly, even if you go back later and edit or delete what you wrote before sending. Many websites do this to collect extra data about you.</p>

  <blockquote>
  "If there is NO padlock in the browser window or <strong>https://</strong> at the beginning of the web address to signify that it is using a secure link, do not enter personal information on the site."
    <div class="text-right">
      &mdash; <a href="https://www.getsafeonline.org/index.php/protecting-your-computer/safe-internet-use/">Get Safe Online</a>
    </div>
  </blockquote>
</aside>
