---
layout: hero-image
title: Keep your private data safe!
---

<div class="container">
  <h2>Resources for Users and Businesses</h2>
  <p>The purpose of this website is to raise awareness of digital security best practices in Jersey, and to educate local users and businesses about security and privacy risks. Scroll down and select a category to learn more.</p>
  <div class="flex grow one two-500">
    <div>
      <article class="card">
        <a href="{{ site.baseurl }}/users/" class="card-link">
          <img src="{{ site.baseurl }}/assets/images/home-page/users-small.jpg" srcset="{{ site.baseurl }}/assets/images/home-page/users-small.jpg 480w, {{ site.baseurl }}/assets/images/home-page/users-medium.jpg 960w, {{ site.baseurl }}/assets/images/home-page/users-large.jpg 1440w" sizes="(min-width: 60em) 50vw, 100vw" alt="">
          <footer>
            <h3 class="card-footer">User Tools &amp; Advice</h3>
          </footer>
        </a>
      </article>
    </div>
    <div>
      <article class="card">
        <a href="{{ site.baseurl }}/business/" class="card-link">
          <img src="{{ site.baseurl }}/assets/images/home-page/business-small.jpg" srcset="{{ site.baseurl }}/assets/images/home-page/businessman-small.jpg 480w, {{ site.baseurl }}/assets/images/home-page/businessman-medium.jpg 960w, {{ site.baseurl }}/assets/images/home-page/businessman-large.jpg 1440w" sizes="(min-width: 60em) 50vw, 100vw" alt="">
          <footer>
            <h3 class="card-footer">Advice for Businesses</h3>
          </footer>
        </a>
      </article>
    </div>
  </div>
</div>

<div class="container">
  <div class="flex full">
    <h2>Jersey Websites Requiring Extra Caution</h2>
    <p>In June and July 2015, we notified both the Office of the Information Commissioner and the Jersey Chamber of Commerce about local websites which put users at risk by not using encryption. Both are keen to help local businesses understand security best practices, however the operators of some websites clearly did not get the message, and did not respond when we notified them directly.</p>
  </div>
  <div class="flex two four-700">
    {% for post in site.posts limit:7 %}
    <div class="padded">
      <article class="card">
        <a href="{{ post.url | prepend: site.baseurl }}" class="card-link">
          <img src="{{ post.image }}" alt="" />
          <footer>
            <h4>{{ post.title }}</h4>
            <p>Added: {{ post.date | date: "%b %Y" }}</p>
          </footer>
        </a>
      </article>
    </div>
    {% endfor %}
    <div class="padded">
      <article class="card">
        <a href="{{ site.baseurl }}/websites/" class="card-link">
          <img src="{{ site.baseurl }}/assets/images/sites/all-thumbnail.jpg" alt="" />
          <footer>
            <h4>Show All</h4>
          </footer>
        </a>
      </article>
    </div>
  </div>
</div>
