---
layout: hero-image
hero: contact-hero
title: "Website Contact Details"
permalink: /contact/
description: "Send an email to <strong>contact at insecure.org.je</strong>, or try the contact form below."
---

<div class="flex full">

    <h2>Contact Form</h2>
    <form method="POST" class="flex two grow" action="//formspree.io/contact@insecure.org.je">
      <div class="full half-500">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="Sender's name" placeholder="Name" required>
      </div>
      <div class="full half-500">
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="Sender's email address" placeholder="name@example.com" required>
      </div>
      <div class="full">
        <label for="msg">Message:</label>
        <textarea id="msg" name="Sender's message" placeholder="Your message..." required></textarea>
      </div>
      <div class="full text-align-center">
        <button type="submit">Send</button>
      </div>
    </form>

</div>
