---
layout: hero-image
hero: contact-hero
title: "Error"
permalink: /error.html
description: "Sorry, something went wrong."
---

<div class="flex full">

  <p>You most likely requested a page for a business website that was upgraded. We delete pages for upgraded sites to avoid confusing visitors. If that's the case, well done to the business, and you can now use their website more securely.</p>
  <p><strong>This is a good time to change your passwords for any insecure websites you previously used.</strong> These passwords should be considered compromised, and changing them now is important. You don't need to constantly rotate passwords, this advise is obsolete and harms security (according to <a href="https://www.ncsc.gov.uk/articles/problems-forcing-regular-password-expiry">GCHQ's National Cyber Security Centre</a>), but you do need to change all default passwords, and change passwords after any security breach.</p>
  <p>Please see our <a href="/users/password-managers/">Password Managers page</a> for more information about choosing and managing strong passwords.</p>

</div>
