---
layout: hero-image
hero: contact-hero
title: "FAQs & Privacy Policy"
permalink: /faq-privacy/
description: "Answers to some frequently asked questions, plus privacy info for visitors to this website."
---

<div class="flex full">

  <h2>Users</h2>
  <ul>
    <li>All posts are accurate at time of posting. Because websites and services listed here are not regularly monitored for changes, you are encouraged to assess the security of all websites you visit using the resources listed on the <a href="{{ site.baseurl }}/users/">Users</a> page.</li>
    <li>User submitted tips are welcome.</li>
    <li>Online threats come in all shapes and sizes, ranging from amateur fraudsters all the way up to corrupt police or government-sponsored attacks. Consider your unique threat model and try these fine websites for more information:
      <ul>
        <li><a href="https://www.getsafeonline.org/">Get Safe Online</a></li>
        <li><a href="https://securityplanner.org/">Security Planner by the Citizen Lab</a></li>
        <li><a href="https://ssd.eff.org/">EFF's Tips, Tools and How-tos for Safer Online Communications</a></li>
        <li><a href="https://sitecheck.sucuri.net/">Sucuri SiteCheck</a></li>
        <li><a href="https://oicjersey.org/">Office of the Information Commissioner</a></li>
      </ul>
    </li>
  </ul>

  <h2>Businesses</h2>
  <ul>
    <li>Have a look at the <a href="{{ site.baseurl }}/business/">Business</a> pages which have information for website operators and businesses. You will also learn how to better communicate your expectations if you have a third-party managing your website.</li>
    <li>Prior to being listed on this website, advance notice of security issues is usually provided as a courtesy, when contact info is available. Make sure you have an email address listed on your website because contact forms can be unreliable, especially if served on an insecure page.</li>
    <li>Images on this site are either sourced from the Public Domain or are reduced size and quality screen shots of websites, which are fair use under <a href="https://www.jerseylaw.je/laws/revised/Pages/05.350.aspx">Intellectual Property (Unregistered Rights) (Jersey) Law 2011</a>.</li>
    <li>If you need further technical assistance try the <a href="http://www.jtdirectory.com/">JT Directory</a> or the <a href="https://www.digital.je/membership/member-directory/">Digital Jersey Member Directory</a>.</li>
  </ul>

  <h2>Privacy &amp; Cookies</h2>
  <p>This website respects your privacy by design, and therefore does not use any <a href="https://en.wikipedia.org/wiki/HTTP_cookie">browser cookies</a>, visitor tracking, or analytics code, nor do we collect visitor logs.</p>
  <p>Additionally, we set a number of server security "headers" to protect you including <code>Referrer-Policy: no-referrers</code>, which means that when you click a link to an external site, your browser does not disclose the site you came from. The only exception to this policy is the Contact page, as the service providing the contact form requires referrer data to prevent abuse.</p>

</div>
