<footer>
  <div class="container">
    <p><a href="{{ site.baseurl }}/contact/">Contact</a> | <a href="{{ site.baseurl }}/faq-privacy/">FAQs & Privacy</a><br />
      &copy; Copyright 2015 - {{ site.time | date: '%Y' }} <a class="unstyled" href="https://www.insecure.org.je/">Cyber Safety</a>, All Rights Reserved</p>
  </div>
</footer>
