<header>
  <nav class="custom-nav">
    <a href="{{ site.baseurl }}/" class="brand unstyled">
      <img class="logo" src="{{ site.baseurl }}/assets/images/insecure-logo-3d.svg" alt="" />
      <span>Insecure.org.je</span>
    </a>
    <!-- responsive-->
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 12h18M3 6h18M3 18h18"/></svg></label>
    <div class="menu">
      <a href="{{ site.baseurl }}/users/" class="unstyled"><svg xmlns="http://www.w3.org/2000/svg" class="navicon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg> User Advice</a>
      <a href="{{ site.baseurl }}/business/" class="unstyled"><svg xmlns="http://www.w3.org/2000/svg" class="navicon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg> Business Advice</a>
    </div>
  </nav>
</header>
