/* TYPOGRAPHY & TEXT STYLING */

html, body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
}

body {
  color: #444;
  font-size: 0.8em;
  background-color: #fafafa;
}

h1 {
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

@media (min-width: 600px) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: 600;
  line-height: 1.2;
}

code {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

strong {
  font-weight: 600;
}

ul {
  margin-left: 2em;
}

a:hover {
  text-decoration: underline;
}

.unstyled,
.unstyled:hover {
  text-decoration: none;
  color: inherit;
}

.text-align-center {
  text-align: center;
}

/* NAV */

nav.custom-nav {
  padding: 2em 0;
  background-color: #0074D9;
}

.custom-nav .logo {
  height: 3em;
}

nav .brand span {
  color: #fff;
  font-size: 1.5em;
}

nav .menu a {
  color: #fff;
  font-weight: 600;
  margin: 0.5em;
  padding: 0.4em 0.2em 0.2em;
}

nav .menu a:hover {
  color: #0074d9;
  background-color: #fff;
  border-radius: 0.2em;
}

.navicon {
  margin-bottom: -0.2em;
  margin-right: 0.3em;
}

@media all and (max-width: 60em) {
  nav.custom-nav {
    padding: .6em 0;
  }

  .custom-nav .logo {
    height: 2em;
  }

  nav .brand span {
    color: #fff;
    font-size: 1.5em;
  }

  .pseudo.button {
    color: #fff;
  }

  nav .burger {
    margin-top: 0.2em;
  }

  nav .burger~.menu>a {
    color: #444;
  }
}

/* HEROES */

.hero {
  margin-top: 3em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vmin;
}

@media (min-width: 60em) {
  .hero {
    margin-top: 4em;
    height: 45vmin;
  }
}

.home-hero {
  background-image: url(../images/backgrounds/home-small.jpg);
}

@media (min-width: 800px) {
  .home-hero {
    background-image: url(../images/backgrounds/home-medium.jpg);
  }
}

@media (min-width: 1600px) {
  .home-hero {
    background-image: url(../images/backgrounds/home-large.jpg);
  }
}

.users-hero {
  background-image: url(../images/backgrounds/users-small.jpg);
}

@media (min-width: 800px) {
  .users-hero {
    background-image: url(../images/backgrounds/users-medium.jpg);
  }
}

@media (min-width: 1600px) {
  .users-hero {
    background-image: url(../images/backgrounds/users-large.jpg);
  }
}

.business-hero {
  background-image: url(../images/backgrounds/business-small.jpg);
}

@media (min-width: 800px) {
  .business-hero {
    background-image: url(../images/backgrounds/business-medium.jpg);
  }
}

@media (min-width: 1600px) {
  .business-hero {
    background-image: url(../images/backgrounds/business-large.jpg);
  }
}

.local-sites-hero {
  background-image: url(../images/backgrounds/local-sites-small.jpg);
}

@media (min-width: 800px) {
  .local-sites-hero {
    background-image: url(../images/backgrounds/local-sites-medium.jpg);
  }
}

@media (min-width: 1600px) {
  .local-sites-hero {
    background-image: url(../images/backgrounds/local-sites-large.jpg);
  }
}

.contact-hero {
  background-image: url(../images/backgrounds/contact-small.jpg);
}

@media (min-width: 800px) {
  .contact-hero {
    background-image: url(../images/backgrounds/contact-medium.jpg);
  }
}

@media (min-width: 1600px) {
  .contact-hero {
    background-image: url(../images/backgrounds/contact-large.jpg);
  }
}

/* CARDS */

.card-link {
  text-align: center;
}

.card-link:hover {
  color:#fff;
  background-color: #0074d9;
  text-decoration: none;
}

a.card-link {
  color: inherit;
}

.card-link:hover h1,
.card-link:hover h2,
.card-link:hover h3,
.card-link:hover h4 {
  color: inherit;
}

.card-footer {
  line-height: 1.2;
  margin: -0.3em 0 0;
  padding: 0;
}

/* EVERYTHING ELSE */

.container {
  max-width: 960px;
  margin: 1em auto;
  padding: 0.5em;
}

.padded {
  padding: 0.6em;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  padding: 1em;
  margin: 0 2em 2em;
  background-color: white;
  background-color: rgba(0,116,217,0.1);
  box-shadow: inset 5px 0 #0074D9;
}

figure {
  margin: 0.5em;
}

figcaption {
  font-size: 85%;
  font-style: italic;
  text-align: center;
}

.float-right {
  float: right;
}

@media (min-width: 600px) {
  .illustration {
    float: right;
    max-width: 40%;
    margin-left: 1em;
  }
}

.text-right {
  text-align: right;
}

.page-title {
  max-width: 960px;
  margin: -2em auto 1em;
  padding: 0 2em 0.5em;
  background-color: #fff;
  border-top: 10px solid #0074d9;
  border-radius: 0.2em 0.2em 0 0;
}

@media (min-width: 60em) {
  .page-title {
    margin-top: -3em;
  }
}

.screenshots {
  border: 2px solid #0074D9;
}

.display-none {
  display: none;
}


/* A11Y CODE HIGHLIGHTING */

.highlight .hll { background-color: #ffffcc; }
code, .highlight { color: #000; background: #eee;}
.highlight .c { color: #767676; }
.highlight .err { background-color: #FFAAAA; color: #eb0000; }
.highlight .k { color: #008800; font-weight: bold; }
.highlight .o { color: #333333; }
.highlight .ch { color: #767676; }
.highlight .cm { color: #767676; }
.highlight .cp { color: #557799; }
.highlight .cpf { color: #767676; }
.highlight .c1 { color: #767676; }
.highlight .cs { color: #cc0000; font-weight: bold; }
.highlight .gd { color: #A00000; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #eb0000; }
.highlight .gh { color: #000080; font-weight: bold; }
.highlight .gi { color: #008700; }
.highlight .go { color: #767676; }
.highlight .gp { font-weight: bold; color: #bc5909; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #0044DD; }
.highlight .kc { color: #008800; font-weight: bold; }
.highlight .kd { color: #008800; font-weight: bold; }
.highlight .kn { color: #008800; font-weight: bold; }
.highlight .kp { color: #003388; font-weight: bold; }
.highlight .kr { color: #008800; font-weight: bold; }
.highlight .kt { color: #333399; font-weight: bold; }
.highlight .m { color: #6600EE; font-weight: bold; }
.highlight .s { background-color: #fff0f0; }
.highlight .na { color: #0000CC; }
.highlight .nb { color: #007020; }
.highlight .nc { color: #BB0066; font-weight: bold; }
.highlight .no { color: #003366; font-weight: bold; }
.highlight .nd { color: #555555; font-weight: bold; }
.highlight .ni { color: #880000; font-weight: bold; }
.highlight .ne { font-weight: bold; color: #eb0000; }
.highlight .nf { color: #0066BB; font-weight: bold; }
.highlight .nl { font-weight: bold; color: #8f6f00; }
.highlight .nn { font-weight: bold; color: #0e7eab; }
.highlight .nt { color: #007700; }
.highlight .nv { color: #996633; }
.highlight .ow { color: #000000; font-weight: bold; }
.highlight .w { color: #767676; }
.highlight .mb { color: #6600EE; font-weight: bold; }
.highlight .mf { color: #6600EE; font-weight: bold; }
.highlight .mh { color: #005588; font-weight: bold; }
.highlight .mi { color: #0000DD; font-weight: bold; }
.highlight .mo { color: #4400EE; font-weight: bold; }
.highlight .sa { background-color: #fff0f0; }
.highlight .sb { background-color: #fff0f0; }
.highlight .sc { color: #0044DD; }
.highlight .dl { background-color: #fff0f0; }
.highlight .sd { color: #d54220; }
.highlight .s2 { background-color: #fff0f0; }
.highlight .se { color: #666666; font-weight: bold; background-color: #fff0f0; }
.highlight .sh { background-color: #fff0f0; }
.highlight .si { background-color: #eeeeee; }
.highlight .sx { color: #DD2200; background-color: #fff0f0; }
.highlight .sr { color: #000000; background-color: #fff0ff; }
.highlight .s1 { background-color: #fff0f0; }
.highlight .ss { color: #AA6600; }
.highlight .bp { color: #007020; }
.highlight .fm { color: #0066BB; font-weight: bold; }
.highlight .vc { color: #336699; }
.highlight .vg { font-weight: bold; color: #b55f00; }
.highlight .vi { color: #3333BB; }
.highlight .vm { color: #996633; }
.highlight .il { color: #0000DD; font-weight: bold; }
