---
layout: default
---

<div class="hero {% if layout.hero %}{{ layout.hero }}{% elsif page.hero %}{{ page.hero }}{% else %}home-hero{% endif %}">
</div>

<article class="container">
  <header class="page-title">
    <h1>{{ page.title }}</h1>
    <p>{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</p>
    {% for item in page.link %}
    <p>
      <a class="label" href="{{ item }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a><code>{{ item }}</code>
    </p>
    {% endfor %}
  </header>
  <section>
    {{ content }}
  </section>
</article>
