---
layout: hero-image
hero: local-sites-hero
---


<div class="flex three">
  <section class="full two-third-500 padded">
    <h2>What is the problem?</h2>
    {{ content }}
    <h4>Disclosure Policy</h4>
    <p>Prior to public disclosure, notification about any privacy or security issues discovered were sent by email to the operator of this website on {{ page.notification }}, using either an email address publicly discoverable on the site, or the <a href="https://www.ietf.org/rfc/rfc2142.txt">RFC 2142</a> standards compliant address "webmaster@..." if no public email address was provided.</p>
    <p>At time of posting the issue had not yet been resolved.</p>
  </section>
  <section class="full third-500 padded">
    <aside>
      <img class="screenshots" src="{{ page.image }}" alt="" />
      <h5>Disclaimer</h5>
      <p><strong>Users</strong>: Information about local websites is accurate at time of posting, however these sites may upgrade their website or web hosting at any time (we hope!). Learn how to assess the security of any website requesting personal info or passwords by following the guidance on our <a href="{{ site.baseurl }}/users/">User Advice</a> pages.</p>
      <p><strong>Businesses</strong>: If this is your website and you wish to have this page removed please <a href="{{ site.baseurl }}/contact/">contact us</a> &mdash; after you have fixed it. Please see the <a href="{{ site.baseurl }}/business/">Business Advice</a> pages for guidance.</p>
    </aside>
  </section>
</div>
